#main-container {
    place-items: center center;
  }
  
  #otica-form {
    max-width: 330px;
    border-radius: 15px;
    background: #ffff;
    box-shadow: 0px 15px 80px rgba(34, 35, 58, 0.2);
  }
  
  .bootstrap-logo {
    width: 72px;
    height: 72px;
  }
  
  .form-control:focus {
    z-index: 5;
  }
  